<div class="top-row ps-5 navbar navbar-dark">
    <div class="container-fluid">                
        <a href="https:\\ozorasoft.ca" target="_blank" style="color:white">
            <img src="https://cdn1.site-media.eu/images/0/19595122/ozorasoft_logo-100-e5G4JCZXTmujqxhPEmoCcA.png" />
        </a>        
    </div>    
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink href="#">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
		</div>
            
        <div class="nav-item px-3">
            <NavLink data-bs-toggle="collapse" href="#submenu_infoseccontrols" role="button" aria-expanded="false" aria-controls="submenu_infoseccontrols">                
                <span class="bi bi-cpu" aria-hidden="false"></span> Information Security Controls
            </NavLink>
            <div class="nav-item px-3" id="submenu_infoseccontrols">
                <NavLink href="infoseccontrols-organizationpolicies">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Organization Policies
                </NavLink>
                <NavLink href="infoseccontrols-systemparameters">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> System Parameters
                </NavLink>               
            </div>
        </div>

        <div class="nav-item px-3">
            <NavLink data-bs-toggle="collapse" href="#submenu_utils" role="button" aria-expanded="false" aria-controls="submenu_utils">
                <span class="bi bi-tools" aria-hidden="false"></span> Utilities
            </NavLink>
            <div class="nav-item px-3" id="submenu_utils">
                <NavLink href="messaging-compress">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Compress Texts
                </NavLink>
                <NavLink href="messaging-encrypt">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Encrypt Texts
                </NavLink>
                <NavLink href="messaging-chat">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> On-line Chat
                </NavLink>
            </div>
        </div>

         <div class="nav-item px-3">
            <NavLink href="event-logs">
                <span class="bi bi-lock-fill" aria-hidden="false"></span> Event Logs
            </NavLink>
        </div>

    </nav>
</div>
