@page "/"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

<PageTitle>OzoraSoft-Porfolio</PageTitle>

<h3>Home</h3>

<br>
@* <OzoraSoft.Web.Components.Transit.VideoCapture/> *@
<button @onclick="ReadOCR">GetText</button>
<span>@TextToShow</span>
