@page "/"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

<PageTitle>OzoraSoft-Porfolio</PageTitle>

<h3>Home</h3>

<!DOCTYPE html>
<html lang="en">

    <body>
        <div>
            <OzoraSoft.Web.Components.Transit.VideoCapture />
        </div>
    </body>

</html>