@page "/messaging-encrypt"
@using OzoraSoft.DataSources.Shared
@using OzoraSoft.Library.Enums.Shared
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

@inject OzoraSoft_API_Util_Client ApiUtilsClient
@inject OzoraSoft_API_Services_Client ApiServicesClient

<PageTitle>OzoraSoft-Porfolio</PageTitle>

<h3>Messaging</h3>
<h4>Encrypt/decrypt texts</h4>

<div style="width: 500px;">
    <hr />
    <div>
        <textarea class="form-control" aria-label="Input" @bind="inputText" style="width: 500px;" placeholder="Input"></textarea>
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" @onclick="() => EncryptText(enumMessagingAction.Encrypt)">
            <i class="bi bi-envelope-check"></i> Encrypt
        </button>
        <button type="button" class="btn btn-outline-primary" @onclick="() => EncryptText(enumMessagingAction.Decrypt)">
            <i class="bi bi-envelope-open"></i> Decrypt
        </button>
        <button type="button" class="btn btn-outline-dark" @onclick="ResetResults">
            <i class="bi bi-x-circle"></i> Reset
        </button>
    </div>
    <div>
        <textarea class="form-control" aria-label="Output" @bind="outputText" style="width: 500px; font-weight: bold;" placeholder="Output"></textarea>
    </div>
    
</div>

@code {
    private string _accessToken = "";
    private string inputText = "";
    private string outputText = "";

    protected override async Task OnInitializedAsync()
    {        
        var result = await ApiUtilsClient.AccessToken_Get();
        _accessToken = result.access_token;
    }

    protected void ResetResults()
    {
        inputText = "";
        outputText = "";
    }

    protected async Task EncryptText(enumMessagingAction action)
    {
        try
        {
            var processDateStart = DateTime.Now;
            switch (action)
            {
                case enumMessagingAction.Encrypt:
                    {
                        outputText = await ApiUtilsClient.Messaging_EncryptText(inputText, _accessToken);
                        break;
                    }
                case enumMessagingAction.Decrypt:
                    {
                        outputText = await ApiUtilsClient.Messaging_DecryptText(inputText, _accessToken);
                        break;
                    }
            }
            var processDuration = (DateTime.Now - processDateStart).TotalMilliseconds;
            // TODO: Change width to: action_result in DB
            var resultId = ApiServicesClient.EventLogs_Add(new EventLog()
            {
                project_id = (int)enumEventLogProject.OzoraSoft_Web,
                module_id = (int)enumEventLogModule.Shared,
                controller_id = (int)enumEventLogController.Utils_Messaging,
                action_id = (int)enumEventLogAction.Execute,
                action_result = $"{action} [Done]",
                process_duration = processDuration,
                process_datetime = processDateStart,
                user_name = "Alex BG",
                user_ip_address = "127.0.0.1"
            }, _accessToken);
            Console.WriteLine($"EventLog Id={resultId}]");
        }
        catch (HttpRequestException hre)
        {
            outputText = $"HTTP error: {hre.Message}";
            Console.WriteLine($"HTTP error: {hre.Message}");
        }
        catch (Exception ex)
        {
            outputText = $"Unexpected: {ex}";
            Console.WriteLine($"Unexpected: {ex}");
        }
    }

}
