@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

<div>

    <h3>Real-time stream</h3>

    <div class="table">
        <div class="row">
            <div class="col-6">
                <h3>Video</h3>
                <video id="webcam" autoplay playsinline width="640" height="480" style="border:1px solid #ccc; display:inline;"></video>                        
            </div>
            <div class="col-2">
                <h3>Image</h3>
                <canvas id="myCanvas" style="display:inline; width:160px; height: 120px;"></canvas>
            </div>
            <div class="col-2">
                <h3>OCR Result</h3>
                <textarea class="form-control" aria-label="Output" @bind="TextFromImage" style="width: 200px; height: 400px; font-weight: bold;display:inline;" placeholder="Output"></textarea>
            </div>
        </div>    
        <div class="row">
            <div class="col">
                <button id="btnVideoStart" class="btn btn-outline-primary" @onclick="StartVideo">
                    <i class="bi bi-camera-fill"></i>Start Camera
                </button>
                <button id="btnVideoStop" class="btn btn-outline-primary" @onclick="StopVideo">
                    <i class="bi bi-stop-fill"></i>Stop Camera
                </button>
                <button id="btnVideoCapture" class="btn btn-outline-primary" @onclick="CaptureFromVideo">
                    <i class="bi bi-image"></i> Take Picture
                </button>
                <button id="btnGetText" type="button" class="btn btn-outline-primary" @onclick="GetImage">
                    <i class="bi bi-image"></i> Get Image
                </button>
                <button id="btnGetText" type="button" class="btn btn-outline-primary" @onclick="ApplyOCR">
                    <i class="bi bi-eyeglasses"></i> Apply OCR
                </button>
                <button id="btnResetText" type="button" class="btn btn-outline-dark" @onclick="ResetText">
                    <i class="bi bi-x-circle"></i> Reset
                </button>   
            </div>
        </div>
        <div class="row"> 
            <div class="col">
                <img id="myImage" src="/images/canvas-03.png" style="display:inline; width: 320px; height: 240px; visibility: hidden;" />
            </div>
        </div>
    </div>
</div>