@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@rendermode InteractiveServer

<div>

    <h3>Real-time Video</h3>

    <div>
        <video id="webcam" autoplay playsinline width="320" height="240" style="border:1px solid #ccc; display:inline;"></video>
        <canvas id="myCanvas" style="display:inline; width:160px; height: 120px;"></canvas>
        <img id="myImage" src="images\VIN-SUV-2025.png" style="display:inline; width: 300px;" />
    </div>

    <div>    
        <button id="btnVideoStart" class="btn btn-outline-primary" @onclick="StartVideo">
            <i class="bi bi-camera-fill"></i>Start Camera
        </button>
        <button id="btnVideoStop" class="btn btn-outline-primary" @onclick="StopVideo">
            <i class="bi bi-stop-fill"></i>Stop Camera
        </button>
        <button id="btnVideoCapture" class="btn btn-outline-primary" @onclick="CaptureFromVideo">
            <i class="bi bi-image"></i> Take Picture
        </button>
        <button id="btnGetText" type="button" class="btn btn-outline-primary" @onclick="GetTextFromImage">
            <i class="bi bi-eyeglasses"></i> Get Text
        </button>
        <button id="btnResetText" type="button" class="btn btn-outline-dark" @onclick="ResetText">
            <i class="bi bi-x-circle"></i> Reset
        </button>   

    </div>
    <div>
        <textarea class="form-control" aria-label="Output" @bind="TextFromImage" style="width: 400px; height: 150px; font-weight: bold;" placeholder="Output"></textarea>
    </div>

</div>